{
  "presets": [
    // "babel-preset-minify",
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "babel-plugin-styled-components",
      {
        "ssr": "true",
        "namespace": "gattner-corporate",
        "meaninglessFileNames": [
          "index",
          "styles"
        ]
      }
    ],
    "babel-plugin-optimize-react",
    "babel-plugin-minify-simplify"
  ]
}