.env
.env.local
.env.production
.env.test
.cache
.sw-tmp
.vscode
.tmp-build/
node_modules
dist/
data/
public/
!public/index.html
coverage/
TODO.md
salt
/test-results/
/playwright-report/
/playwright/.cache/
